@page "/sideBySide"
@using System.Text.Json

<PageTitle>SideBySide</PageTitle>

<div class="side-by-side container">
    <div class="side-by-side-row row">
        @foreach (String key in dict.Keys)
        {
            <div class="side-by-side-pair col-md-1">
                <span class="side-by-side-key">@key </span><input @bind="dict[key]" class="side-by-side-value"></input>
            </div>
        }
    </div>

    <button @onclick="() => LoadRP()">Load RP phonemes</button>

    <div class="side-by-side-text container">
        <div class="side-by-side-row row">
            @foreach (var model in new List<TextModel> { OriginalText, PhonemeText })
            {
                <button @onclick="() => ToggleHidden(model)" class="side-by-side-text-button col-md-2">Edit @model.Label Text</button>
            }
        </div>
        <div class="side-by-side-row row">            
            @foreach (var model in new List<TextModel> { OriginalText, PhonemeText })
            {
                <textarea hidden="@model.Hidden" @bind="model.Text"></textarea>
            }
        </div>
    </div>

</div>

@code {
    private record class TextModel(String Label, String Text = "", Boolean Hidden = true)
    {
        public Boolean Hidden { get; set; } = Hidden;
        public String Text { get; set; } = Text;
    }

    private TextModel OriginalText = new("Original");
    private TextModel PhonemeText = new("Phoneme");

    private void ToggleHidden(TextModel model) => model.Hidden = !model.Hidden;

    private Dictionary<String, String?> dict = new();

    private void LoadRP()
    {
        IEnumerable<String> phonemes = new List<String>
        {
            "p",
            "t",
            "k",
            "f",
            "θ",
            "s",
            "ʃ",
            "ʧ",
            "j",
            "ŋ",
            "b",
            "d",
            "ɡ",
            "v",
            "ð",
            "z",
            "ʒ",
            "ʤ",
            "w",
            "h",
            "l",
            "r",
            "m",
            "n",
            "ɪ",
            "iː",
            "ɛ",
            "eɪ",
            "æ",
            "aɪ",
            "ə",
            "ʌ",
            "ɒ",
            "əʊ",
            "ʊ",
            "u(ː)",
            "aʊ",
            "ɔɪ",
            "ɑː",
            "ɔː",
            "ɑː(r)",
            "ɔː(r)",
            "ɛə(r)",
            "ɜː(r)",
            "ə(r)",
            "ɪə(r)",
            "ɪə",
            "ju(ː)",
            "'",
        };

        BuildDictionaryFromList(phonemes);
    }

    private void BuildDictionaryFromList(IEnumerable<String> phonemes)
    {
        dict = phonemes.ToDictionary<String, String, String?>(phoneme => phoneme, phoneme => phoneme);
    }
}